<body class="">
  <%= render partial: "/layouts/header" %>
<!-- Google Tag Manager (noscript) -->

  <main class="white" role="main">
    <section class="top-main-visual">
      <div>
        <div class="top-main-visual-content">
          <h2>スマホでかんたん<br>フリマアプリ</h2>
          <p>メルカリはスマホカメラからすぐに出品できる<br>購入時も安心な独自システムのアプリです</p>
          <div class="top-main-visual-store clearfix">
            <%= link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&amp;mt=8", target: "_blank", class: "pull-left" do %>
              <%= image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?2960600120", alt: "" %>
            <% end %>
            <%= link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&amp;hl=ja", target: "_blank", class: "pull-left" do %>
              <%= image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?2960600120", alt: "" %>
            <% end %>
          </div>
        </div>
        <%= image_tag "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?2960600120", alt: "" %>
      </div>
    </section>
    <section class="pickup-container">
      <h2 class="pickup-head">ピックアップカテゴリー</h2>
      <section class="items-box-container clearfix">
        <h3 class="text-center">
          <%= link_to "/jp/category/1/" do %>
            レディース 新着アイテム
          <% end %>
        </h3>
        <div class="items-box-content clearfix">
          <section class="items-box">
            <%= link_to "https://item.mercari.com/jp/m93191467542/" do %>
              <figure class="items-box-photo">
                <%= image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m93191467542_1.jpg?1540454769", alt: "トレンチコート  ロング丈  38号", class: "lazyload" %>
              </figure>
              <div class="items-box-body">
                <h3 class="items-box-name font-2">トレンチコート  ロング丈  38号</h3>
                <div class="items-box-num clearfix">
                  <div class="items-box-price font-5">¥ 1,499</div>
                  <div class="items-box-likes font-2">
                    <i class="far fa-heart"></i>
                    <span>1</span>
                  </div>
                  <p class="item-box-tax">(税込)</p>
                </div>
              </div>
            <% end %>
          </section>
        </div>
        <div class="view-all">
          <%= link_to "/jp/category/1/" do %>
            すべての商品を見る
          <% end %>
        </div>
      </section>

      <h2 class="pickup-head">ピックアップブランド</h2>
      <section class="items-box-container clearfix">
        <h3 class="text-center">
          <%= link_to "/jp/brand/658/" do %>
            シャネル 新着アイテム
          <% end %>
        </h3>
        <div class="items-box-content clearfix">
          <section class="items-box">
            <%= link_to "https://item.mercari.com/jp/m27043280797/" do %>
              <figure class="items-box-photo">
                <%= image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m27043280797_1.jpg?1540639818", alt: "シャネル財布", class: "lazyload" %>
              </figure>
              <div class="items-box-body">
                <h3 class="items-box-name font-2">シャネル財布</h3>
                <div class="items-box-num clearfix">
                  <div class="items-box-price font-5">¥ 2,800</div>
                    <p class="item-box-tax">(税込)</p>
                </div>
              </div>
            <% end %>
          </section>
        </div>
        <div class="view-all">
          <%= link_to "/jp/brand/658/" do %>
            すべての商品を見る
          <% end %>
        </div>
      </section>

      <h2 class="pickup-head">ナイキ新着アイテム</h2>
      <section class="items-box-container clearfix">
        <h3 class="text-center">
          <%= link_to "/jp/brand/857/" do %>
            ナイキ 新着アイテム
          <% end %>
        </h3>
        <div class="items-box-content clearfix">
          <section class="items-box">
            <%= link_to "https://item.mercari.com/jp/m84157575903/" do %>
              <figure class="items-box-photo">
                <%= image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84157575903_1.jpg?1537020040", alt: "【新品未使用】NIKE FOOTSCAPE 27cm", class: "lazyload" %>
              </figure>
              <div class="items-box-body">
                <h3 class="items-box-name font-2">【新品未使用】NIKE FOOTSCAPE 27cm</h3>
                  <div class="items-box-num clearfix">
                    <div class="items-box-price font-5">¥ 8,600</div>
                    <div class="items-box-likes font-2">
                      <i class="far fa-heart"></i>
                        <span>18</span>
                    </div>
                    <p class="item-box-tax">(税込)</p>
                  </div>
              </div>
            <% end %>
          </section>
        </div>
        <div class="view-all">
          <%= link_to "/jp/brand/857/" do %>
            すべての商品を見る
          <% end %>
        </div>
      </section>
    </section>
  </main>

  <%= render partial: "/layouts/aside" %>

  <%= render partial: "/layouts/footer" %>
</body>
