<footer class="global-footer">
  <nav>
    <ul>
      <li class="footer-cell">
        <h2 class="footer-head">メルカリについて</h2>
        <ul>
          <li>
            <%= link_to "https://about.mercari.com/" do %>
              会社概要（運営会社）
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.mercari.com/jp/privacy/" do %>
              プライバシーポリシー
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.mercari.com/jp/tos/" do %>
              メルカリ利用規約
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.mercari.com/jp/tos_paid_point/" do %>
              メルカリ利用規約・有償ポイントに関する特約
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.mercari.com/jp/tos_smartphone_support/" do %>
              あんしんスマホサポート制度に関する利用特約
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.mercari.com/jp/compliance/" do %>
              コンプライアンスポリシー
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.mercari.com/jp/data_security/" do %>
              個人データの安全管理に係る基本方針
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.mercari.com/jp/tokutei/" do %>
              特定商取引に関する表記
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.mercari.com/jp/shikin_kessai/" do %>
              資金決済法に基づく表示
            <% end %>
          </li>
          <li>
            <%= link_to "https://about.mercari.com/csr/safety/" do %>
              法令順守と犯罪抑止のために
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.mercari.com/jp/jobs/" do %>
              採用情報
            <% end %>
          </li>
        </ul>
      </li>
      <li class="footer-cell">
        <h2 class="footer-head">メルカリを見る</h2>
        <ul>
          <li>
            <%= link_to "https://www.mercari.com/jp/category/" do %>
              カテゴリー一覧
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.mercari.com/jp/brand/" do %>
              ブランド一覧
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.mercari.com/jp/area/" do %>
              出品地域一覧
            <% end %>
          </li>
          <li>
            <%= link_to "https://jp-news.mercari.com/", target: "_blank" do %>
              公式ブログ
            <% end %>
          </li>
          <li>
            <%= link_to "https://twitter.com/mercari_jp", target: "_blank" do %>
              公式Twitter
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.facebook.com/mercarijp", target: "_blank" do %>
              公式Facebook
            <% end %>
          </li>
        </ul>
      </li>
      <li class="footer-cell">
        <h2 class="footer-head">ヘルプ＆ガイド</h2>
        <ul>
          <li>
            <%= link_to "https://www.mercari.com/jp/help_center/" do %>
              メルカリガイド
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.mercari.com/jp/logo-guidelines/" do %>
              メルカリロゴ利用ガイドライン
            <% end %>
          </li>
          <li>
            <%= link_to "https://about.mercari.com/press/news/" do %>
              お知らせ
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.mercari.com/jp/rakuraku-mercari/" do %>
              らくらくメルカリ便とは
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.mercari.com/jp/yuyu-mercari/" do %>
              ゆうゆうメルカリ便とは
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.mercari.com/jp/rakuraku-ogata/" do %>
              大型らくらくメルカリ便とは
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.mercari.com/jp/guide/car/" do %>
              車体取引ガイド
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.mercari.com/jp/refund-returns/" do %>
              返品・返金ポリシー
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.mercari.com/jp/safe/description/", target: "_blank" do %>
              メルカリあんしん・あんぜん宣言！
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.mercari.com/jp/authenticity/" do %>
              偽ブランド品撲滅への取り組み
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.mercari.com/jp/box/" do %>
              メルカリボックス
            <% end %>
          </li>
        </ul>
      </li>
      <li class="footer-cell">
        <h2 class="footer-head">国</h2>
        <ul class="footer-nav-lang">
          <li>
            <%= link_to "https://www.mercari.com/" do %>
              <%= image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/flag_us.png?2960600120", alt: "", width: "22" %>
              United States
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.mercari.com/uk/" do %>
              <%= image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/flag_uk.png?2960600120", alt: "", width: "22" %>
              United Kingdom
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.mercari.com/jp/", class: "active" do %>
              <%= image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/flag_jp.png?2960600120", alt: "", width: "22" %>
              日本
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <%= link_to "https://www.mercari.com/jp/", class: "footer-logo" do %>
    <%= image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?2960600120", alt: "mercari", width: "124", height: "33" %>
  <% end %>
  <p class="footer-copyright">
    <small>&copy; 2018 Mercari</small>
  </p>
</footer>

<%= link_to "https://www.mercari.com/jp/sell/", class: "footer-sell-btn" do %>
  <div>出品</div>
  <%= fa_icon "camera 3x" %>
<% end %>

<div class="overlay"></div>
